.mat-table {
    width: 100%;
    padding: 16px;
    margin-top: 16px;
}

.powerStateOn {
    color: #98dfaf;
}

.powerStateOff {
    color: #ff595e;
}

.mat-paginator {
    width: 100%;
}

.resource-label {
    background-color: #7280cd;
    border-radius: 25px;
    color: white;
    margin: 5px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
}

#resource-column {
    width: 70%;
}

#search-input {
    padding-left: 5px;
    display: flex;
    justify-content: flex-end;
}

.clickable {
    cursor: pointer;
}
