<h1>Resource Overview</h1>

<mat-divider></mat-divider>

<h2 style="margin-top: 16px">Evaluation Boards:</h2>
<div class="resource-bar" *ngIf="evaluationBoards.length > 0; else noEBs">
    <button
        mat-stroked-button
        color="primary"
        *ngFor="let eval of evaluationBoards"
        (click)="navigateToResource(eval.name)"
    >
        {{ eval.name }}
    </button>
</div>
<ng-template #noEBs>
    <p>Currently there are no evaluation boards.</p>
</ng-template>

<h2 style="margin-top: 16px">Power Distribution Units:</h2>
<div class="resource-bar" *ngIf="PDUs.length > 0; else noPDUs">
    <button
        mat-stroked-button
        color="primary"
        *ngFor="let pdu of PDUs"
        (click)="navigateToResource(pdu.name)"
    >
        {{ pdu.name }}
    </button>
</div>
<ng-template #noPDUs>
    <p>Currently there are no PDUs.</p>
</ng-template>

<h2 style="margin-top: 16px">Video Streams:</h2>
<div class="resource-bar" *ngIf="videoStreams.length > 0; else noVSs">
    <button
        mat-stroked-button
        color="primary"
        *ngFor="let video of videoStreams"
        (click)="navigateToResource(video.name)"
    >
        {{ video.name }}
    </button>
</div>
<ng-template #noVSs>
    <p>Currently there are no video streams.</p>
</ng-template>