<div class="resource-bar" *ngIf="resources.length > 0; else elseBlock">
    <button
        mat-stroked-button
        color="primary"
        class="mat-elevation-z2"
        *ngFor="let res of resources"
        (click)="navigateToResource(res.name)"
    >
        {{ res.name }}
    </button>
</div>
<ng-template #elseBlock>
    <p>This place has no resources acquired.</p>
</ng-template>
<mat-divider></mat-divider>

<h1 class="place-overview">{{ place.name }}</h1>

<table #placeStateTable mat-table [dataSource]="placeStates" class="mat-elevation-z2 place-table">
    <!-- Attribute name -->
    <ng-container matColumnDef="state-name">
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Attribute value -->
    <ng-container matColumnDef="state-value">
        <td mat-cell *matCellDef="let element">
            {{ element.value }}
            <mat-icon id="invalidIcon" *ngIf="allocationStateInvalid && element.name === 'Allocation status: '">
                bolt
            </mat-icon>
        </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="action-bar">
    <button
        mat-stroked-button
        color="primary"
        class="mat-elevation-z2"
        (click)="acquirePlace()"
        [disabled]="isAcquired"
    >
        Acquire
    </button>
    <button
        mat-stroked-button
        color="primary"
        class="mat-elevation-z2"
        (click)="releasePlace()"
        [disabled]="isAcquiredByUser"
    >
        Release
    </button>
    <button
        mat-stroked-button
        color="primary"
        class="mat-elevation-z2"
        (click)="reservePlace()"
        [disabled]="isAcquired"
    >
        Reserve
    </button>
</div>

<div class="action-bar">
    <button mat-raised-button color="warn" class="mat-elevation-z2" (click)="resetPlace()">Reset</button>
</div>
