.place-overview {
    width:100%;
    margin-top: 20px;
}

.resource-bar {
    width:100%;
    margin-bottom: 20px;
}

.resource-bar > button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.place-table {
    width: 800px;
    max-width: 100%;
    margin-top: 16px;
}

.place-table td {
    width: 50% !important;
}

.action-bar > *{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
}

#invalidIcon{
    font-size: 15px;
    color: #FF595E;
}
