.place-overview {
    width:100%;
    margin: 20px;
}

.resource-bar {
    width:100%;
    margin-bottom: 20px;
}

.resource-bar > button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.place-table {
    width: 800px;
    margin-top: 16px;
}
