.place-overview {
    width: 100%;
    margin-top: 20px;
}

.resource-bar {
    width: 100%;
    margin-bottom: 20px;
}

.resource-bar > button {
    margin-right: 10px;
    margin-bottom: 10px;
}

.place-table {
    width: 800px;
    max-width: 100%;
    margin-top: 16px;
}

.place-table td {
    width: 50% !important;
}

#invalidIcon {
    font-size: 15px;
    color: #ff595e;
}

@media only screen and (min-width: 560px) {
    .action-bar {
        display: flex;
        width: 100%;
        max-width: 800px;
        min-width: 520px;
    }
}

@media only screen and (max-width: 560px) {
    .action-bar {
        width: 300px;
    }
}
