
<div class="resource-bar">
    <button mat-stroked-button color="primary">Button1</button>
    <button mat-stroked-button color="primary">Button3</button>
    <button mat-stroked-button color="primary">Button4</button>
    <button mat-stroked-button color="primary">Button2</button>
</div>
<mat-divider></mat-divider>
<div class="place-overview">
    <h1>{{ place.name }}</h1>

    <p *ngIf="place.aquired">The place was aquired by: {{place.aquired}}. </p>
    <p *ngIf="!place.aquired">The place is free to use. </p>
</div>