<div class="sidebar-container">

    <h1 class="sidebar-header">Places</h1>
    <div class="sidebar-item" (click)="navigateToOverview()"> Place Overview</div>
    <div class="sidebar-item" *ngFor="let place of places" (click)="navigateToPlace(place.name)">
        <mat-icon [ngClass]="{
                'available' : !place.aquired,
                'occupied' : place.aquired
            }"
        >circle</mat-icon>
        <div>{{ place.name }}</div>
    </div>

    <h1 class="sidebar-header">Resources</h1>
    <div class="sidebar-item" (click)="navigateToResources()">
        <div>Resource Overview</div>
    </div>

</div>