<div *ngIf="!ls.isLoggedIn; else loggedIn">
    <h1>Login</h1>
    <div>
        <mat-form-field appearance="fill" style="width: 280px">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="username" />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill" style="width: 280px">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" />
            <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
            >
                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <p *ngIf="wrongCredentials && wrongTries < 3" class="wrong-credentials">Wrong username or password!</p>
    <p *ngIf="wrongTries >= 3" class="wrong-credentials">Too many wrong attempts!</p>
    <button mat-stroked-button color="primary" class="mat-elevation-z2" (click)="login()" [disabled]="wrongTries >= 3">
        Login
    </button>
</div>
<ng-template #loggedIn>
    <h1>Logout</h1>
    <h3>You are logged in as {{ ls.username }}</h3>
    <button mat-stroked-button color="primary" class="mat-elevation-z2" (click)="logout()">Logout</button>
</ng-template>
