<div id="app">

<!-- Toolbar -->
<mat-toolbar color="primary" class="mat-elevation-z4">
  <button mat-icon-button class="material-buttons" (click)="drawer.toggle()" aria-label="Menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <span>Labgrid Web Client</span>
  <span class="spacer"></span>
  <button mat-icon-button class="material-buttons" aria-label="Gear icon">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<!-- Sidebar and main area -->
<mat-drawer-container class="page-container" autosize>
  <mat-drawer #drawer style="background-color: #E0E0E0" class="sidenav-content" mode="side" opened>
    <h2>Places</h2>
  </mat-drawer>

  <div class="main-content">
    <h2>Welcome!</h2>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
</div>
