<div id="app">
    <!-- Toolbar -->
    <mat-toolbar color="primary" class="mat-elevation-z4" style="padding: 0px 10px">
        <button mat-icon-button (click)="drawer.toggle()" aria-label="Menu icon" [disabled]="!isLoggedIn()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <span (click)="navigateToPlaceOverview()" id="home">Labgrid Web Client</span>
        <span class="spacer"></span>
        <button mat-icon-button aria-label="Gear icon">
            <mat-icon>settings</mat-icon>
        </button>
    </mat-toolbar>

    <!-- Sidebar and main area -->
    <mat-drawer-container class="page-container" autosize>
        <mat-drawer #drawer style="background-color: #e0e0e0" class="sidenav-content" mode="side" closed>
            <app-sidebar></app-sidebar>
        </mat-drawer>

        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-container>
</div>
