<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  
  #app {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .mat-toolbar {
    position: relative;
    z-index: 2;
  }

  .material-buttons {
    padding: 0;
    border: none;
    background: none;
    color: #fff;
    height: 24px;
    width: 24px;
    cursor: pointer;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .page-container {
    width: 100%;
    flex: 1 1 auto;
  }

  .main-content {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .sidenav-content {
    width: 300px;
    padding: 20px;
    color: #ffffff;
  }
</style>

<div id="app">

<!-- Toolbar -->
<mat-toolbar color="primary" class="mat-elevation-z4">
  <button mat-icon-button class="material-buttons" (click)="drawer.toggle()" aria-label="Menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <span>Labgrid Web Client</span>
  <span class="spacer"></span>
  <button mat-icon-button class="material-buttons" aria-label="Gear icon">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<!-- Sidebar and main area -->
<mat-drawer-container class="page-container" autosize>
  <mat-drawer #drawer style="background-color: #3F51B5" class="sidenav-content" mode="side" opened>
    <h2>Places</h2>
  </mat-drawer>

  <div class="main-content">
    <h2>Welcome!</h2>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
</div>
